:root {
    --color-black: #292d30;
    --color-green: #58e1b0;
    --color-white: #fff;
    --color-yellow: #f9ce26;
    --color-cyan: #35bcc9;
    --color-grey: #3d4144;
    --color-grey-light: #939798;
    --color-grey-lightest: #c2c2c2;
    --color-blue: #118af7;
    --color-blue-dark: #0d7fe4;
    --color-blue-hover: #27333e;
    --color-red: #d32f2f;
    --hover: 110%;
    --active: 90%;
    --color-primary: var(--color-black);
    --color-accent: var(--color-blue);
    --font-family: "Poppins";
    --font-base: 16px;
    --font-hg: 32px;
    --font-xxl: 24px;
    --font-xl: 18px;
    --font-lg: 16px;
    --font-sm: 14px;
    --font-xs: 12px;
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-bold: 700;
    --weight-black: 900;
    --text-primary: var(--color-black);
    --text-secondary: var(--color-grey-light);
    --PADDING-BASE: 8px;
    --MARGIN-BASE: 8px;
    --p-1: calc(var(--PADDING-BASE)*1);
    --p-2: calc(var(--PADDING-BASE)*2);
    --p-3: calc(var(--PADDING-BASE)*3);
    --p-4: calc(var(--PADDING-BASE)*4);
    --p-5: calc(var(--PADDING-BASE)*5);
    --p-6: calc(var(--PADDING-BASE)*6);
    --m-1: calc(var(--MARGIN-BASE)*1);
    --m-2: calc(var(--MARGIN-BASE)*2);
    --m-3: calc(var(--MARGIN-BASE)*3);
    --m-4: calc(var(--MARGIN-BASE)*4);
    --m-5: calc(var(--MARGIN-BASE)*5);
    --m-6: calc(var(--MARGIN-BASE)*6);
    --z-1: 100;
    --z-2: 200;
    --z-3: 300;
    --z-4: 400;
    --z-5: 500;
    --z-6: 600;
    --z-7: 700;
    --z-8: 800;
    --z-9: 900
}